<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Corporate services - CSS Frontend history - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Corporate services
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Dash -->
      <h2 id="dash" class="nhsuk-heading-m">Department of Health and Social Care's Discontinuations and Shortages portal (DaSH)</h2>
      <p class="nhsuk-body-l">Toolkit version: ??</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/dash.png">
          <img class="service-img" src="/images/corp-services/dash.png" alt="DaSH Homepage" />
        </a>
      </div>
      <p>DHSC SupplyMan is a web application for managing potential supply shortages on the behalf of DHSC and Marketing Authorisation Holders within the UK.</p>
      <p>You can access this locally at: <code>http://localhost:8081/</code>.</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">Dash: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/supplyman"><span class="nhsuk-u-visually-hidden">DaSH: </span>Gitlab repo</a></li>
          <li><a href="https://services.nhsbsa.nhs.uk/supplyman/login"><span class="nhsuk-u-visually-hidden">DaSH: </span>Live service</a></li>
          <li><a href="https://dev.services.nhsbsa.nhs.uk/supplyman/login"><span class="nhsuk-u-visually-hidden">DaSH: </span>Dev environment</a></li>
          <li><a href="https://tst.services.nhsbsa.nhs.uk/supplyman/login"><span class="nhsuk-u-visually-hidden">DaSH: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- OHS Comp Man -->
      <h2 id="comp-man" class="nhsuk-heading-m">OHS Comp man</h2>
      <p class="nhsuk-body-l">Toolkit version: ??</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/dash.png">
          <img class="service-img" src="/images/corp-services/dash.png" alt="OHS Comp man homepage" />
        </a>
      </div>
      <p></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">OHS Comp man: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="#"><span class="nhsuk-u-visually-hidden">OHS Comp man: </span>Gitlab repo</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">OHS Comp man: </span>Live service</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">OHS Comp man: </span>Dev environment</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">OHS Comp man: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Time Man -->
      <h2 id="time-man" class="nhsuk-heading-m">Time man</h2>
      <p class="nhsuk-body-l">Toolkit version: ??</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/dash.png">
          <img class="service-img" src="/images/corp-services/dash.png" alt="Time man homepage" />
        </a>
      </div>
      <p></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">Time man: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Time man: </span>Gitlab repo</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Time man: </span>Live service</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Time man: </span>Dev environment</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Time man: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>  
  <hr>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- Case man -->
      <h2 id="time-man" class="nhsuk-heading-m">Case man</h2>
      <p class="nhsuk-body-l">Toolkit version: ??</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/dash.png">
          <img class="service-img" src="/images/corp-services/caseman.png" alt="Case man homepage" />
        </a>
      </div>
      <p></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">Case man: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/caseman"><span class="nhsuk-u-visually-hidden">Case man: </span>Gitlab repo</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Case man: </span>Live service</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Case man: </span>Dev environment</a></li>
          <li><a href="#"><span class="nhsuk-u-visually-hidden">Case man: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div> 
{% endblock %}
