<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Corporate services - CSS Frontend history - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Corporate services
      </h1>
    </div>
  </div>
  <!-- Dash -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="dash" class="nhsuk-heading-m">Department of Health and Social Care's Discontinuations and Shortages portal (DaSH)</h2>
      <p class="nhsuk-body-l">Toolkit version: GOVUK v4.2.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/dash-home.png">
          <img class="service-img" src="/images/corp-services/dash-home.png" alt="DaSH Homepage" />
        </a>
      </div>
      <p>DHSC SupplyMan is a web application for managing potential supply shortages on the behalf of DHSC and Marketing Authorisation Holders within the UK.</p>
      <p>You can access this locally at: <code>http://localhost:8081/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">Dash: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/supplyman"><span class="nhsuk-u-visually-hidden">DaSH: </span>Gitlab repo</a></li>
          <li><a href="https://services.nhsbsa.nhs.uk/supplyman/login"><span class="nhsuk-u-visually-hidden">DaSH: </span>Live service</a></li>
          <li><a href="https://dev.services.nhsbsa.nhs.uk/supplyman/login"><span class="nhsuk-u-visually-hidden">DaSH: </span>Dev environment</a></li>
          <li><a href="https://tst.services.nhsbsa.nhs.uk/supplyman/login"><span class="nhsuk-u-visually-hidden">DaSH: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- OHS CaseMan -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="ohs-case-man" class="nhsuk-heading-m">OHS CaseMan</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSBSA elements v1.0.24212</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/dash.png">
          <img class="service-img" src="/images/corp-services/dash.png" alt="OHS CompMan homepage" />
        </a>
      </div>
      <p>OHS CaseMan is used to log, assess, and manage issues UK expatriates have accessing healthcare within EU countries. It is used by DHSC and NHSBSA CCS.</p>
      <p>You can access this locally at: <code>http://localhost:8080/ohs-case-management</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">OHS CaseMan: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/ohs-caseman"><span class="nhsuk-u-visually-hidden">OHS CaseMan: </span>Gitlab repo</a></li>
          <li><a href="https://services.nhsbsa.nhs.uk/ohs-case-management"><span class="nhsuk-u-visually-hidden">OHS CaseMan: </span>Live service</a></li>
          <li><a href="https://dev.services.nhsbsa.nhs.uk/ohs-case-management"><span class="nhsuk-u-visually-hidden">OHS CaseMan: </span>Dev environment</a></li>
          <li><a href="https://tst.services.nhsbsa.nhs.uk/ohs-case-management"><span class="nhsuk-u-visually-hidden">OHS CaseMan: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- CompMan -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="comp-man" class="nhsuk-heading-m">CompMan</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSBSA elements v1.0.22957</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/comp-man.png">
          <img class="service-img" src="/images/corp-services/comp-man.png" alt="CompMan homepage" />
        </a>
      </div>
      <p>CompMan is used to log and track complaints received about the NHSBSA. It is used by the Complaints Resolution Team, Student Services and will eventually be used by Pensions.</p>
      <p>You can access this locally at: <code>http://localhost:8080/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">CompMan: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/comp-man"><span class="nhsuk-u-visually-hidden">CompMan: </span>Gitlab repo</a></li>
          <li><a href="https://services.nhsbsa.nhs.uk/compman"><span class="nhsuk-u-visually-hidden">CompMan: </span>Live service</a></li>
          <li><a href="https://dev.services.nhsbsa.nhs.uk/compman"><span class="nhsuk-u-visually-hidden">CompMan: </span>Dev environment</a></li>
          <li><a href="https://tst.services.nhsbsa.nhs.uk/compman"><span class="nhsuk-u-visually-hidden">CompMan: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- TimeMan -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="time-man" class="nhsuk-heading-m">TimeMan</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSBSA elements v1.0.24212</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/timeman.png">
          <img class="service-img" src="/images/corp-services/timeman.png" alt="TimeMan homepage" />
        </a>
      </div>
      <p>TimeMan is a time booking tool used primarily by the Technology department to log times spent on various tasks to allow for planning and budget forecasting.</p>
      <p>You can access this locally at <code>http://localhost:8081/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">Time man: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/timeman"><span class="nhsuk-u-visually-hidden">Time man: </span>Gitlab repo</a></li>
          <li><a href="https://services.nhsbsa.nhs.uk/timeman/"><span class="nhsuk-u-visually-hidden">Time man: </span>Live service</a></li>
          <li><a href="https://dev.services.nhsbsa.nhs.uk/timeman/"><span class="nhsuk-u-visually-hidden">Time man: </span>Dev environment</a></li>
          <li><a href="https://tst.services.nhsbsa.nhs.uk/timeman/"><span class="nhsuk-u-visually-hidden">Time man: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div>  
  <hr>
  <!-- NSDR CaseMan -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="nsdr-case-man" class="nhsuk-heading-m">NSDR CaseMan</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSBSA elements v1.0.24212</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/corp-services/nsdr-caseman.png">
          <img class="service-img" src="/images/corp-services/nsdr-caseman.png" alt="NSDR CaseMan homepage" />
        </a>
      </div>
      <p>NSDR CaseMan is used to log, assess and manage real-time medicine supply issues within the UK. It is used by DHSC and NHSBSA CCS.</p>
      <p>You can access this locally at: <code>http://localhost:8080/case-management/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">NSDR CaseMan: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/caseman"><span class="nhsuk-u-visually-hidden">NSDR CaseMan: </span>Gitlab repo</a></li>
          <li><a href="https://services.nhsbsa.nhs.uk/case-management/"><span class="nhsuk-u-visually-hidden">NSDR CaseMan: </span>Live service</a></li>
          <li><a href="https://dev.services.nhsbsa.nhs.uk/case-management/login"><span class="nhsuk-u-visually-hidden">NSDR CaseMan: </span>Dev environment</a></li>
          <li><a href="https://tst.services.nhsbsa.nhs.uk/case-management/login"><span class="nhsuk-u-visually-hidden">NSDR CaseMan: </span>Test environment</a></li>
        </ul>
      </nav>
    </div>
  </div> 
{% endblock %}
