<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Student services - CSS Frontend history - NHSBSA
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Student services
      </h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- SB Student -->
      <h2 id="sb-public" class="nhsuk-heading-m">Student Bursaries (SB) Student</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSUK v4.1.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/sb-public.png">
          <img class="service-img" src="/images/stu-services/sb-public.png" alt="SB Student homepage" />
        </a>
      </div>
      <p>The NHS offers bursaries to help with the cost of tuition and living expenses for certain healthcare courses. Eligible students include those studying nursing, midwifery, and certain allied health professions.</p>
      <p>The bursary amount varies depending on the course and the student's financial situation.</p>
      <p>SB Student is a public facing service for students to register and apply for bursaries.</p>
      <p>You can access this locally at: <code>http://localhost:8081/nhssb/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">SB Student </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://dps-gitlab.service.nhsbsa/CSS/sb-public"><span class="nhsuk-u-visually-hidden">SB Student </span>Gitlab repo</a></li>
          <li><a href="https://nhs-bursary.nhsbsa.nhs.uk/student/login"><span class="nhsuk-u-visually-hidden">SB Student </span>Live service</a></li>
          <li><a href="https://dev.nhs-bursary.nhsbsa.net/student/login"><span class="nhsuk-u-visually-hidden">SB Student </span>Dev environment</a></li>
          <li><a href="https://tst.nhs-bursary.nhsbsa.net/student/login"><span class="nhsuk-u-visually-hidden">SB Student </span>Test environment</a></li>
          <li><a href="http://localhost:8081/nhssb/"><span class="nhsuk-u-visually-hidden">SB Student </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- SB Internal -->
      <h2 id="sb-web" class="nhsuk-heading-m">Student Bursaries (SB) Internal</h2>
      <p class="nhsuk-body-l">Toolkit version: v5.1.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/sb-web.png">
          <img class="service-img" src="/images/stu-services/sb-web.png" alt="SB Internal homepage" />
        </a>
      </div>
      <p>SB Internal is a service for NHSBSA colleagues to manage SB applications.</p>
      <p>You can access this locally at: <code>http://localhost:8080/sb/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">SB Internal </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://gitlab.com/nhsbsa/workforce/student-services/sb/sb-internal"><span class="nhsuk-u-visually-hidden">SB Internal </span>Gitlab repo</a></li>
          <li><a href="https://nhs-bursary.nhsbsa.nhs.uk/internal/login"><span class="nhsuk-u-visually-hidden">SB Internal </span>Live service</a></li>
          <li><a href="https://dev.nhs-bursary.nhsbsa.net/internal/login"><span class="nhsuk-u-visually-hidden">SB Internal </span>Dev environment</a></li>
          <li><a href="https://tst.nhs-bursary.nhsbsa.net/internal/login"><span class="nhsuk-u-visually-hidden">SB Internal </span>Test environment</a></li>
          <li><a href="http://localhost:8080/sb/"><span class="nhsuk-u-visually-hidden">SB Internal </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- SWB Student -->
      <h2 id="swb-public" class="nhsuk-heading-m">Social Work Bursary (SWB) Student</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSUK v4.1.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/swb-register.png">
          <img class="service-img" src="/images/stu-services/swb-register.png" alt="SWB Student homepage" />
        </a>
      </div>
      <p>Users can manage their Social Work Bursary by signing up for a MyFunding account. Through their account they can complete applications, check enorlment statuses and view bursary payments.</p>
      <p>You can access this locally at: <code>http://localhost:8081/myfunding/</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">SWB Student </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://gitlab.com/nhsbsa/workforce/student-services/swb/swb-student"><span class="nhsuk-u-visually-hidden">SWB Student </span>Gitlab repo</a></li>
          <li><a href="https://social-work-bursary.nhsbsa.nhs.uk/student/login"><span class="nhsuk-u-visually-hidden">SWB Student </span>Live service</a></li>
          <li><a href="https://dev.social-work-bursary.nhsbsa.net/student/login"><span class="nhsuk-u-visually-hidden">SWB Student </span>Dev environment</a></li>
          <li><a href="https://tst.social-work-bursary.nhsbsa.net/student/login"><span class="nhsuk-u-visually-hidden">SWB Student </span>Test environment</a></li>
          <li><a href="http://localhost:8081/myfunding/"><span class="nhsuk-u-visually-hidden">SWB Student </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <!-- SWB Internal -->
      <h2 id="swb-web" class="nhsuk-heading-m">Social Work Bursary (SWB) Internal</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSBSA elements v1.0.22950</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/swb-web.png">
          <img class="service-img" src="/images/stu-services/swb-web.png" alt="SWB Internal homepage" />
        </a>
      </div>
      <p>You can access this locally at: <code>http://localhost:8080/swb</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">SWB Internal </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://gitlab.com/nhsbsa/workforce/student-services/swb/swb-internal"><span class="nhsuk-u-visually-hidden">SWB Internal </span>Gitlab repo</a></li>
          <li><a href="https://social-work-bursary.nhsbsa.nhs.uk/internal/login/"><span class="nhsuk-u-visually-hidden">SWB Internal </span>Live service</a></li>
          <li><a href="https://dev.social-work-bursary.nhsbsa.net/internal/login"><span class="nhsuk-u-visually-hidden">SWB Internal </span>Dev environment</a></li>
          <li><a href="https://tst.social-work-bursary.nhsbsa.net/internal/login"><span class="nhsuk-u-visually-hidden">SWB Internal </span>Test environment</a></li>
          <li><a href="http://localhost:8080/swb"><span class="nhsuk-u-visually-hidden">SWB Internal </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- LSF public -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="lsf-public" class="nhsuk-heading-m">Learning Support Fund (LSF) Student</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSUK 6.2.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/lsf-public.png">
          <img class="service-img" src="/images/stu-services/lsf-public.png" alt="LSF Student homepage" />
        </a>
      </div>
      <p>You can access this locally at: <code>http://localhost:8081/nhslsf/</code></p>
      <p>Sometimes referred to as LSF Public</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">LSF Student: </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://gitlab.com/nhsbsa/workforce/student-services/lsf/lsf-student"><span class="nhsuk-u-visually-hidden">LSF Student: </span>Gitlab repo</a></li>
          <li><a href="https://learning-support-fund.nhsbsa.nhs.uk/student/"><span class="nhsuk-u-visually-hidden">LSF Student </span>Live service</a></li>
          <li><a href="https://dev.learning-support-fund.nhsbsa.net/student/"><span class="nhsuk-u-visually-hidden">LSF Student </span>Dev environment</a></li>
          <li><a href="https://tst.learning-support-fund.nhsbsa.net/student/"><span class="nhsuk-u-visually-hidden">LSF Student </span>Test environment</a></li>
          <li><a href="http://localhost:8081/student/"><span class="nhsuk-u-visually-hidden">LSF Student </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- LSF Internal -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="lsf-web" class="nhsuk-heading-m">Learning Support Fund (LSF) Internal</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSUK 6.2.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/lsf-web.png">
          <img class="service-img" src="/images/stu-services/lsf-web.png" alt="LSF Internal homepage" />
        </a>
      </div>
      <p>You can access this locally at: <code>http://localhost:8080/internal/</code></p>
      <p>Sometimes referred to as LSF Web</p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">LSF Internal </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://gitlab.com/nhsbsa/workforce/student-services/lsf/lsf-internal"><span class="nhsuk-u-visually-hidden">LSF Internal </span>Gitlab repo</a></li>
          <li><a href="https://learning-support-fund.nhsbsa.nhs.uk/internal/"><span class="nhsuk-u-visually-hidden">LSF Internal </span>Live service</a></li>
          <li><a href="https://dev.learning-support-fund.nhsbsa.net/internal/"><span class="nhsuk-u-visually-hidden">LSF Internal </span>Dev environment</a></li>
          <li><a href="https://tst.learning-support-fund.nhsbsa.net/internal/"><span class="nhsuk-u-visually-hidden">LSF Internal </span>Test environment</a></li>
          <li><a href="http://localhost:8080/internal/"><span class="nhsuk-u-visually-hidden">LSF Internal </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <hr>
  <!-- LSF University -->
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2 id="lsf-portal" class="nhsuk-heading-m">Learning Support Fund (LSF) University</h2>
      <p class="nhsuk-body-l">Toolkit version: NHSUK 6.2.0</p>
      <div class="nhsbsa-service-info__container nhsuk-u-margin-bottom-4">
        <a href="/images/stu-services/lsf-portal.png">
          <img class="service-img" src="/images/stu-services/lsf-portal.png" alt="LSF University homepage" />
        </a>
      </div>
      <p>You can access this locally at: <code>http://localhost:8082/lsfportal/dashboard</code></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <div class="tech-container nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-heading-s">Languages</h3>
        <span class="tech-tag java-tag">Java 8</span>
        <span class="tech-tag html-tag">HTML5</span>
        <span class="tech-tag css-tag">CSS3</span>
        <span class="tech-tag javascript-tag">Javascript</span>
        <span class="tech-tag thymleaf-tag">Thymeleaf</span>
      </div>
      <nav class="link-nav">
        <h3 class="nhsuk-heading-s"><span class="nhsuk-u-visually-hidden">LSF University </span>Links</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li><a href="https://gitlab.com/nhsbsa/workforce/student-services/lsf/lsf-university"><span class="nhsuk-u-visually-hidden">LSF University </span>Gitlab repo</a></li>
          <li><a href="https://learning-support-fund.nhsbsa.nhs.uk/university/"><span class="nhsuk-u-visually-hidden">LSF University </span>Live service</a></li>
          <li><a href="https://dev.learning-support-fund.nhsbsa.net/university/"><span class="nhsuk-u-visually-hidden">LSF University </span>Dev environment</a></li>
          <li><a href="https://tst.learning-support-fund.nhsbsa.net/university/"><span class="nhsuk-u-visually-hidden">LSF University </span>Test environment</a></li>
          <li><a href="http://localhost:8083/university/"><span class="nhsuk-u-visually-hidden">LSF University </span>Local environment</a></li>
        </ul>
      </nav>
    </div>
  </div>  
    
{% endblock %}
