{% extends 'layout.html' %}

{% block pageTitle %}
  Timeline - HWHC Frontend history - NHSBSA
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Craig Dixon's timeline</h1>

      <h2 class="nhsuk-heading-l">2022</h2>
      
      <div class="nhsbsa-timeline">
        <!-- May -->
        <div class="nhsbsa-timeline__item">
          <div class="nhsbsa-timeline__header">
            <h3 class="nhsuk-heading-m">Filter bar</h3>
          </div>
          <p class="nhsbsa-timeline__date">July 2022</p>
          <p class="nhsbsa-timeline__description">Created a filter bar for DASH project to replace side bar and dropdowns.</p>
          <p class="nhsbsa-timeline__description">Researched and used similar model to MOJ side tool bar.</p>
          
          <h4 class="nhsuk-heading-xs">Notes</h4>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li class="nhsbsa-timeline__document-item"><a href="https://filter-bar.herokuapp.com/">July 2022 - filter bar</a></li>
            <li class="nhsbsa-timeline__document-item">Username: dash</li>
            <li class="nhsbsa-timeline__document-item">Password: filter</li>
          </ul>
        </div>
          <div class="nhsbsa-timeline__item">
          <div class="nhsbsa-timeline__header">
            <h3 class="nhsuk-heading-m">Accessibilty fixes - CompMan</h3>
          </div>
          <p class="nhsbsa-timeline__date">July 2022</p>
          <p class="nhsbsa-timeline__description">Following testing from the testing team, updated CompMan in line with accessibility fixes.</p>
          <p class="nhsbsa-timeline__description">Fixed by testing the pages in Wave, Lighthouse and Axe.</p>
          <p class="nhsbsa-timeline__description">Pages updated and edited to meet accessibility criteria.</p>
        </div>
        <!-- April - May -->
        <div class="nhsbsa-timeline__item">
          <div class="nhsbsa-timeline__header">
            <h3 class="nhsuk-heading-m">Tidy up - DASH</h3>
          </div>
          <p class="nhsbsa-timeline__date">March - July 2022</p>
          <p class="nhsbsa-timeline__description">Picking up small accessibility fixes to help services reach WCAG AA compliance.</p>
          <p class="nhsbsa-timeline__description">Replaced dropdowns with radio buttons or accessible autocomplete.</p>
        </div>
      </div>
    </div>
  </div>
    
  <style>
    
  </style>
  
{% endblock %}
